body{
    font-family: monospace;
    background-color: rgb(208, 230, 197);
    font-size: 20px;
}
.container {
    max-width: 840px;
    margin: 0 auto;
}
.intro {
    text-align: center;
}
.intro img {
    border-radius: 100%;
    max-width: 100px;
    height: 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid1, .grid2 {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.grid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
ul {
    list-style: none;
    margin-left: 0;
}
.Portfolio {
    text-align: center;
}
.portgrid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}
@media (max-width: 650px) {
    .portgrid {
        grid-template-columns: 100%;
    }
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 100%;
    }
}
.contact {
    display: flex;
    justify-content: space-around;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.left_side {
    text-align: center;
}

.left_side p{
    margin-bottom: 1px;
}
.button_submit {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgb(48, 41, 41);
    color: white;
    border-style: none;
    border-radius: 10px;
}


.responsive-image {
    max-width: 100%; 
    height: auto; 
}
